/*! HTML5 Boilerplate v7.2.0 | MIT License | https://html5boilerplate.com/ */


/* main.css 2.0.0 | MIT License | https://github.com/h5bp/main.css#readme */


/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */


/* ==========================================================================
  Color swatch: 
    Bg color:             #34373d (Black)
    Text color:           #e0eaf2 (Pale blue)
    Light text color:     #757575 (Light Grey)
    Highlight bg color:   #329bfa (Bright blue)
    Highlight text color: #34373d (Black)
    Hyperlink unactive:   #dabd9f (Beige)
    Hyperlink active:     #e0eaf2 (Pale blue)
    Border:               #4a4d54 (Light Grey)
   ========================================================================== */


/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
body {
  margin: 0;
  padding: 0;
  color: #e0eaf2;
  background: #34373d url('../img/bg.png');
  font-family: 'Quicksand', sans-serif;
  text-align: center;
  text-justify: inter-word;
  font-size: 0.875em;
  line-height: 1.4;
  height: 100%;
}

::-moz-selection {
  background: #329bfa;
  color: #34373d;
  text-shadow: none;
}

::selection {
  background: #329bfa;
  color: #34373d;
  text-shadow: none;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

fieldset,
img {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

img {
  max-width: 100%;
  width: auto\9;
  height: auto;
}

ol,
ul {
  list-style: none;
}

a {
  cursor: pointer;
  outline: 0;
}

a img {
  border: 0;
  text-decoration: none;
}

a:link,
a:visited,
a:active {
  color: #dabd9f;
  text-decoration: none;
}

a:hover {
  color: #e0eaf2;
  text-decoration: underline;
}

a[href] * {
  cursor: pointer;
}

blockquote {
  display: block;
  border-width: 2px 0;
  border-style: solid;
  border-color: #4a4d54;
  padding: 1.5em 0 0.5em;
  margin: 1.5em 0;
  position: relative;
  font-size: 1.2em;
}

blockquote:before {
  content: '\201C';
  position: absolute;
  top: 0em;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #34373d;
  width: 3rem;
  height: 2rem;
  font: 6em/1.08em 'PT Sans', sans-serif;
  color: #757575;
  text-align: center;
}

blockquote:after {
  content: "\2013 \2003" attr(cite);
  display: block;
  text-align: right;
  color: #757575;
}


/* ==========================================================================
   Preloader
   ========================================================================== */

.no-js #loader {
  display: none;
}

.js #loader {
  display: block;
  position: absolute;
  left: 100px;
  top: 0;
}

.preloader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url('../preloader.gif') center no-repeat #34373d;
}


/* ==========================================================================
   Icons
   ========================================================================== */

[class^="tl"] {
  display: none;
  /* Remove to show icons */
  float: left;
  position: relative;
  padding-right: 6px;
  height: 22px;
  width: 22px;
}

.tl-about {
  top: 7px;
}

.tl-education {
  top: 10px;
}

.tl-experience {
  top: 7px;
}

.tl-volunteer {
  top: 8px;
}

.tl-projects {
  top: 8px;
}

.tl-achievements {
  top: 7px;
}


/* ==========================================================================
   Skills Dots
   ========================================================================== */

#skills {
  list-style: none;
  width: 90%;
  margin: 0 auto;
  position: relative;
  line-height: 2em;
  padding: 20px 0 0;
}

#skills li {
  margin: 25px auto;
  background: #34373d;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#2b2e33), to(#34373d));
  background-image: -webkit-linear-gradient(top, #2b2e33, #34373d);
  background-image: -moz-linear-gradient(top, #2b2e33, #34373d);
  background-image: -ms-linear-gradient(top, #2b2e33, #34373d);
  background-image: -o-linear-gradient(top, #2b2e33, #34373d);
  background-image: linear-gradient(top, #2b2e33, #34373d);
  height: 6px;
  border-radius: 10px;
  -moz-box-shadow: 0 1px 0px #000 inset, 0 1px 0 #4a4d54;
  -webkit-box-shadow: 0 1px 0px #000 inset, 0 1px 0 #4a4d54;
  box-shadow: 0 1px 0px #000 inset, 0 1px 0 #4a4d54;
}

#skills li p {
  position: relative;
  top: -20px;
  text-align: left;
  font-weight: 400;
  font-size: 1.0em;
}

.bar {
  height: 4px;
  margin: 1px 2px;
  position: absolute;
  border-radius: 10px;
  -moz-box-shadow: 0 1px 0px #4a4d54 inset, 0 1px 0 #000;
  -webkit-box-shadow: 0 1px 0px #4a4d54 inset, 0 1px 0 #000;
  box-shadow: 0 1px 0px #4a4d54 inset, 0 1px 0 #000;
  left: 0;
}

.ps {
  width: 80%;
  -moz-animation: ps 2s ease-out;
  -webkit-animation: ps 2s ease-out;
  background-color: #dabd9f;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#dabd9f), to(#c9ae91));
  background-image: -webkit-linear-gradient(top, #dabd9f, #c9ae91);
  background-image: -moz-linear-gradient(top, #dabd9f, #c9ae91);
  background-image: -ms-linear-gradient(top, #dabd9f, #c9ae91);
  background-image: -o-linear-gradient(top, #dabd9f, #c9ae91);
  background-image: linear-gradient(top, #dabd9f, #c9ae91);
}

.il {
  width: 40%;
  -moz-animation: il 2s ease-out;
  -webkit-animation: il 2s ease-out;
  background-color: #dabd9f;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#dabd9f), to(#c9ae91));
  background-image: -webkit-linear-gradient(top, #dabd9f, #c9ae91);
  background-image: -moz-linear-gradient(top, #dabd9f, #c9ae91);
  background-image: -ms-linear-gradient(top, #dabd9f, #c9ae91);
  background-image: -o-linear-gradient(top, #dabd9f, #c9ae91);
  background-image: linear-gradient(top, #dabd9f, #c9ae91);
}

.ds {
  width: 60%;
  -moz-animation: ds 2s ease-out;
  -webkit-animation: ds 2s ease-out;
  background-color: #dabd9f;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#dabd9f), to(#c9ae91));
  background-image: -webkit-linear-gradient(top, #dabd9f, #c9ae91);
  background-image: -moz-linear-gradient(top, #dabd9f, #c9ae91);
  background-image: -ms-linear-gradient(top, #dabd9f, #c9ae91);
  background-image: -o-linear-gradient(top, #dabd9f, #c9ae91);
  background-image: linear-gradient(top, #dabd9f, #c9ae91);
}

.ue {
  width: 40%;
  -moz-animation: ue 2s ease-out;
  -webkit-animation: ue 2s ease-out;
  background-color: #dabd9f;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#dabd9f), to(#c9ae91));
  background-image: -webkit-linear-gradient(top, #dabd9f, #c9ae91);
  background-image: -moz-linear-gradient(top, #dabd9f, #c9ae91);
  background-image: -ms-linear-gradient(top, #dabd9f, #c9ae91);
  background-image: -o-linear-gradient(top, #dabd9f, #c9ae91);
  background-image: linear-gradient(top, #dabd9f, #c9ae91)
}

.pp {
  width: 60%;
  -moz-animation: pp 2s ease-out;
  -webkit-animation: pp 2s ease-out;
  background-color: #dabd9f;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#dabd9f), to(#c9ae91));
  background-image: -webkit-linear-gradient(top, #dabd9f, #c9ae91);
  background-image: -moz-linear-gradient(top, #dabd9f, #c9ae91);
  background-image: -ms-linear-gradient(top, #dabd9f, #c9ae91);
  background-image: -o-linear-gradient(top, #dabd9f, #c9ae91);
  background-image: linear-gradient(top, #dabd9f, #c9ae91)
}

.ae {
  width: 20%;
  -moz-animation: ae 2s ease-out;
  -webkit-animation: ae 2s ease-out;
  background-color: #dabd9f;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#dabd9f), to(#c9ae91));
  background-image: -webkit-linear-gradient(top, #dabd9f, #c9ae91);
  background-image: -moz-linear-gradient(top, #dabd9f, #c9ae91);
  background-image: -ms-linear-gradient(top, #dabd9f, #c9ae91);
  background-image: -o-linear-gradient(top, #dabd9f, #c9ae91);
  background-image: linear-gradient(top, #dabd9f, #c9ae91)
}

.sp {
  width: 20%;
  -moz-animation: sp 2s ease-out;
  -webkit-animation: sp 2s ease-out;
  background-color: #dabd9f;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#dabd9f), to(#c9ae91));
  background-image: -webkit-linear-gradient(top, #dabd9f, #c9ae91);
  background-image: -moz-linear-gradient(top, #dabd9f, #c9ae91);
  background-image: -ms-linear-gradient(top, #dabd9f, #c9ae91);
  background-image: -o-linear-gradient(top, #dabd9f, #c9ae91);
  background-image: linear-gradient(top, #dabd9f, #c9ae91)
}

@-moz-keyframes ps {
  0% {
    width: 0px;
  }
  100% {
    width: 80%;
  }
}

@-moz-keyframes il {
  0% {
    width: 0px;
  }
  100% {
    width: 40%;
  }
}

@-moz-keyframes ds {
  0% {
    width: 0px;
  }
  100% {
    width: 60%;
  }
}

@-moz-keyframes ue {
  0% {
    width: 0px;
  }
  100% {
    width: 40%;
  }
}

@-moz-keyframes pp {
  0% {
    width: 0px;
  }
  100% {
    width: 60%;
  }
}

@-moz-keyframes ae {
  0% {
    width: 0px;
  }
  100% {
    width: 20%;
  }
}

@-moz-keyframes sp {
  0% {
    width: 0px;
  }
  100% {
    width: 20%;
  }
}

@-webkit-keyframes ps {
  0% {
    width: 0px;
  }
  100% {
    width: 80%;
  }
}

@-webkit-keyframes il {
  0% {
    width: 0px;
  }
  100% {
    width: 40%;
  }
}

@-webkit-keyframes ds {
  0% {
    width: 0px;
  }
  100% {
    width: 60%;
  }
}

@-webkit-keyframes ue {
  0% {
    width: 0px;
  }
  100% {
    width: 40%;
  }
}

@-webkit-keyframes pp {
  0% {
    width: 0px;
  }
  100% {
    width: 60%;
  }
}

@-webkit-keyframes ae {
  0% {
    width: 0px;
  }
  100% {
    width: 20%;
  }
}

@-webkit-keyframes sp {
  0% {
    width: 0px;
  }
  100% {
    width: 20%;
  }
}


/* ==========================================================================
   Button
   ========================================================================== */

.download {
  color: #dabd9f !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #34373d;
  padding: 8px 12px;
  border: 4px solid #dabd9f !important;
  display: inline-block;
  transition: all 0.4s ease 0s;
}

.download:hover {
  color: #34373d !important;
  background: #dabd9f;
  border-color: #dabd9f !important;
  transition: all 0.4s ease 0s;
  text-decoration: none;
}


/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
  position: relative;
  padding: 0;
  clear: both;
  overflow: hidden;
  height: 100%;
}

.content {
  flex: 1 0 auto;
}

#about {
  padding-top: 100px;
}

#portfolio,
#resume,
#contact {
  padding-top: 50px;
}


/* Rows and Columns
-----------------------------------------------*/

.section {
  clear: both;
  padding: 0px;
  margin: 0px;
}

.group:before,
.group:after {
  content: "";
  display: table;
}

.group:after {
  clear: both;
}

.group {
  zoom: 1;
  /* For IE 6/7 (trigger hasLayout) */
}

.col {
  display: block;
  float: left;
  margin: 0% 0% 0% 1.6%;
}

.col:first-child {
  margin-left: 0;
}

.span_1_of_3 {
  width: 32.26%;
}


/* Navigation Menus
-----------------------------------------------*/

#header {
  padding: 0;
  position: fixed;
  width: 100%;
  z-index: 999;
  top: 0;
  left: 0;
  background: #34373d url('../img/bg.png');
}

#header ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  overflow: hidden;
}

#menu {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  overflow: visible;
}

#menu li {
  display: block;
  float: left;
  margin: 0;
  padding: 16px 12px 0px;
  font-size: 1.2em;
}

#menu li a {
  text-decoration: none;
  font-weight: bold;
  color: #dabd9f;
  text-shadow: 0px 0px 8px #000;
}

#menu li a:hover {
  color: #e0eaf2;
  text-shadow: none !important;
}

#menu li a.active {
  border-bottom: 2px solid #dabd9f;
}

#menu li a.active:hover {
  border-bottom: 2px solid #e0eaf2;
}

#title {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: visible;
  padding: 4px 0px;
}

#socials {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  float: right;
  overflow: visible;
}

#socials li {
  display: block;
  margin: 0;
  padding: 8px 8px 0px;
  float: left;
}

#socials li a img {
  opacity: 1.0;
  filter: alpha(opacity=100);
  /* For IE8 and earlier */
}

#socials li a:hover img {
  opacity: 0.6;
  filter: alpha(opacity=60);
  /* For IE8 and earlier */
}


/* About
-----------------------------------------------*/

#about .container {
  padding-bottom: 10px;
}

#about h1 {
  font-weight: 400;
  font-size: 2.5em;
  margin: 0.5em auto;
  text-shadow: 0px 4px 8px #000;
}

#about label {
  color: #dabd9f;
  display: inline-block;
  cursor: pointer;
  padding: 0;
  transform: scale(1.0);
  transition: transform .25s, visibility .25s ease-in;
}

#about label:hover {
  transform: scale(1.04);
}


/* Slideshow
-----------------------------------------------*/

#slideshow {
  overflow: visible;
  text-align: center;
  display: table;
  width: 100%;
}

.mySlides {
  display: none;
}

#slideshow h2 {
  font-weight: 400;
  font-size: 2.5em;
  text-align: left;
}

#slideshow p {
  font-size: 1.3em;
  padding: 0;
  text-align: left;
}

#slideshow img {
  border-radius: 50%;
  max-width: 80%;
  height: auto;
  box-shadow: 0 0 8px #6f7582;
}

#slideshow .flexbox {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: visible;
  justify-content: center;
}

#slideshow .flexbox .column:nth-child(1) {
  width: 66.13%;
}

#slideshow .flexbox .column:nth-child(2) {
  width: 32.26%;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: 3.0s;
  animation-duration: 3.0s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}


/* Portfolio
-----------------------------------------------*/

#grid {
  max-width: 100%;
  margin: 0 auto;
  padding: 0;
  font-size: 0;
  list-style: none;
}

#grid li {
  display: inline-block;
  *display: inline;
  /*for IE6 - IE7*/
  width: 25%;
  vertical-align: middle;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.grid-cell {
  margin: 12px;
  box-shadow: 0 0 4px #4a4d54;
  display: block;
  position: relative;
  overflow: hidden;
}

.grid-img {
  display: block;
  width: 100%;
  height: auto;
  border: none;
  transform: scale(1);
  transition: all 1s;
}

#grid li:hover .grid-img {
  transform: scale(1.05);
}

.grid-overlay {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  background: #dabd9f;
  background-size: 50px 50px;
  opacity: 0;
  filter: alpha(opacity=0);
  /*For IE6 - IE8*/
  transition: all 0.6s;
}

#grid li:hover .grid-overlay {
  opacity: 0.6;
}

.grid-text {
  display: block;
  padding: 0 30px;
  box-sizing: border-box;
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
  text-transform: capitalize;
  font-size: 18px;
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  top: 40%;
  color: #e0eaf2;
  text-shadow: 0px 2px 4px #000;
  opacity: 0;
  filter: alpha(opacity=0);
  /*For older IE*/
  transform: translateY(-20px);
  transition: all 0.3s;
}

#grid li:hover .grid-text {
  transform: translateY(0px);
  opacity: 0.9;
}


/* Resume
-----------------------------------------------*/

#resume {
  display: table;
  width: 100%;
  overflow: visible;
}

#resume h1 {
  font-weight: 400;
  font-size: 2.125em;
  margin: 0.5em auto;
  text-decoration: underline #dabd9f;
}

#resume p {
  font-size: 1.3em;
  margin: 8px 0;
}

#sidebar {
  position: relative;
  display: table;
  table-layout: fixed;
  width: 100%;
  padding: 20px 0;
  border-right: 1px solid #4a4d54;
  text-align: center;
  overflow: hidden;
}

#sidebar img.sidebar-me {
  border-radius: 50%;
  max-width: 60%;
  height: auto;
  box-shadow: 0 0 8px #6f7582;
}

h2.title {
  width: 100%;
  text-align: center;
  line-height: 0.1em;
  margin: 20px 0;
}

h2.title span:before,
h2.title span:after {
  content: "\00a0\00a0\00a0\00a0";
  text-decoration: line-through;
  padding: 0 4px;
}

#resume .flexbox {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: visible;
  justify-content: center;
  align-content: center;
  height: 100%;
}

#resume .flexbox .column:nth-child(1) {
  width: 32.26%;
  padding-left: 10px;
}

#resume .flexbox .column:nth-child(2) {
  width: 66.13%;
  padding-left: 10px;
}

.timeline h1,
.timeline p {
  text-align: left;
}

.timeline .timeline-item {
  position: relative;
  display: table;
  table-layout: fixed;
  width: 100%;
  padding-bottom: 20px;
}

.timeline .left-part {
  width: 40%;
  display: table-cell;
  padding-right: 25px;
  min-height: 100%;
  text-align: right;
  vertical-align: top;
}

.timeline .right-part {
  width: 60%;
  display: table-cell;
  padding-left: 25px;
  padding-right: 15px;
  /*ATTENTION*/
  text-align: left;
  vertical-align: top;
}

.timeline .right-part i {
  font-size: 1.1em;
}

.timeline .divider {
  position: absolute;
  top: 0;
  left: 41%;
  /*ATTENTION*/
  bottom: 0;
  width: 1px;
  background-color: #4a4d54;
}

.timeline .divider:after {
  content: '';
  display: block;
  margin-top: 8px;
  /*ATTENTION*/
  margin-left: -5px;
  /*ATTENTION*/
  width: 8px;
  height: 8px;
  border-radius: 50%;
  border: 2px solid #dabd9f;
  background-color: #34373d;
}

.timeline .item-title {
  font-size: 1.4em;
  margin: 0;
}

.timeline .item-period {
  margin: 0;
  font-size: 1.3em;
  line-height: 1.4em;
}

.timeline .item-company {
  display: block;
  color: #757575;
  margin: 0;
  font-size: 1.05em;
  line-height: 1.45em;
}

.timeline .timeline-item:last-child .right-part {
  padding-bottom: 0px;
}


/* Contact
-----------------------------------------------*/

#contact {}


/* Footer
-----------------------------------------------*/

footer {
  border-top: 1px solid #4a4d54;
  padding: .5em 0;
  position: relative;
  text-align: right;
  flex-shrink: 0;
}

footer::before {
  border-bottom: 1px solid #000;
  content: ".";
  height: 1%;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

footer .container {
  padding-right: 2%;
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
  display: none !important;
}

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

.invisible {
  visibility: hidden;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

@media screen and (max-width: 992px) {
  #menu li {
    font-size: 1em;
    padding: 16px 6px 0px;
  }
  #socials li {
    padding: 12px 4px 0px;
  }
  #socials li a img {
    height: auto;
    width: 80%;
  }
  #grid li {
    width: 32.26%;
  }
  .grid-text {
    top: 40%;
  }
}

@media screen and (max-width: 768px) {
  #menu li {
    font-size: 0.8125em;
    padding: 18px 4px 0px;
  }
  #socials li {
    padding: 14px 4px 0px;
  }
  #socials li a img {
    height: auto;
    width: 60%;
  }
  #grid li {
    width: 49.2%;
  }
  .grid-text {
    top: 45%;
  }
}

@media screen and (max-width: 600px) {
  body {
    font-size: 0.75em;
  }
  .col {
    margin: 0%;
  }
  .span_1_of_3 {
    width: 100%;
  }
  #menu {
    justify-content: center;
  }
  #menu li {
    font-size: 1.2em;
    padding: 16px 14px 0px;
  }
  #socials {
    float: none;
    justify-content: center;
  }
  #socials li {
    padding: 10px 8px;
  }
  #about,
  #portfolio,
  #resume,
  #contact {
    padding-top: 120px;
  }
  #slideshow img,
  #sidebar img.sidebar-me {
    max-width: 30%;
    height: auto;
  }
  #slideshow .flexbox,
  #resume .flexbox {
    position: relative;
    display: block;
    padding: 0 2%;
  }
  #slideshow .flexbox .column:nth-child(1),
  #slideshow .flexbox .column:nth-child(2),
  #resume .flexbox .column:nth-child(1),
  #resume .flexbox .column:nth-child(2) {
    width: 100%;
    display: block;
  }
  #slideshow .flexbox {
    transform: rotate(180deg);
  }
  #slideshow .flexbox>.column {
    transform: rotate(-180deg);
  }
  #sidebar {
    border-right-style: none;
  }
  .timeline .timeline-item {
    position: relative;
    display: block;
  }
  .timeline .left-part,
  .timeline .right-part {
    width: 100%;
    display: block;
    padding: 0px 0px 0px 25px;
    /*ATTENTION*/
    min-height: 100%;
    text-align: left;
  }
  .timeline .divider {
    left: 0;
  }
  [class^="tl"] {
    height: 16px;
    width: 16px;
  }
  #skills {
    display: none;
  }
  #grid li {
    width: 100%;
  }
  .grid-text {
    top: 45%;
  }
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {}

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre {
    white-space: pre-wrap !important;
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
