/*! HTML5 Boilerplate v7.2.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
  Color swatch: 
    Bg color:             #34373d (Black)
    Text color:           #e0eaf2 (Pale blue)
    Highlight bg color:   #329bfa (Bright blue)
    Highlight text color: #34373d (Black)
    Hyperlink unactive:   #dabd9f (Beige)
    Hyperlink active:     #e0eaf2 (Pale blue)
   ========================================================================== */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
   
html, body{margin: 0;padding: 0;color: #e0eaf2;font-size: 0.875em;line-height: 1.4;height: 100%;}

::-moz-selection{background: #329bfa;color: #34373d;text-shadow: none;}
::selection{background: #329bfa;color: #34373d;text-shadow: none;}

hr {display: block;height: 1px;border: 0;border-top: 1px solid #ccc;margin: 1em 0;padding: 0;}

audio,canvas,iframe,img,svg,video{vertical-align: middle;}

fieldset, img{border: 0;margin: 0;padding: 0;}
textarea{resize: vertical;}

img{max-width: 100%;width: auto\9;height: auto;}

ol,ul{list-style:none;}

a{cursor: pointer;outline: 0;}
a img{border: 0;text-decoration: none;}
a:link, a:visited{color: #dabd9f;text-decoration: none;}       /* unvisited link, visited link */
a:hover, a:active{color: #e0eaf2;text-decoration: underline;}  /* mouse over link, selected link */
a[href] *{cursor: pointer;}

blockquote 
{
  display: block;
  border-width: 2px 0;
  border-style: solid;
  border-color: #e0eaf2;
  padding: 1.5em 0 0.5em;
  margin: 1.5em 0;
  position: relative;
}

blockquote:before 
{
  content: '\201C';
  position: absolute;
  top: 0em;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #34373d;
  width: 3rem;
  height: 2rem;
  font: 6em/1.08em 'PT Sans', sans-serif;
  color: #666;
  text-align: center;
}

blockquote:after 
{
  content: "\2013 \2003" attr(cite);
  display: block;
  text-align: right;
  color: #666;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade{margin: 0.2em 0;background: #ccc;color: #000;padding: 0.2em 0;}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
   
body 
{ 
  color: #e0eaf2; 
  background: #34373d url('../img/bg.png');
  font-family: 'Quicksand', sans-serif;
  text-align: center; 
  display: flex;
  flex-direction: column;
}

.container 
{
  max-width: 1024px;
  margin: 0 auto;
  position: relative;
  padding: 0;
  clear: both;
  overflow: hidden;
}

.content
{
  flex: 1 0 auto;
}

/* Rows and Columns
-----------------------------------------------*/

.section 
{
	clear: both;
	padding: 0px;
	margin: 0px;
}

.group:before,
.group:after 
{
  content: "";
  display: table;
}

.group:after 
{
  clear: both;
}

.group 
{
  zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}

.col 
{
	display: block;
	float: left;
	margin: 0% 0% 0% 1.6%;
}

.col:first-child 
{ 
  margin-left: 0; 
}

.span_1_of_3 
{
	width: 32.26%; 
}

/* Navigation Menus
-----------------------------------------------*/

#header
{
  padding: 0;
  position: fixed;
  width: 100%;
  z-index: 999;
  top: 0;
  left: 0;
  background: #34373d url('../img/bg.png'); 
}

#header ul 
{
  margin: 0;
  padding: 0;	
  list-style-type: none; 
  overflow: hidden;
}

#menu
{
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  overflow: visible;
}

#menu li 
{
  display: block;
  float: left;
  margin: 0;
  padding: 16px 12px 0px;
  font-size: 1.2em;
}

#menu li a 
{
  text-decoration: none;
  font-weight: bold;
  color: #dabd9f;
  text-shadow: 0px 2px 8px #000;
}

#menu li a:hover
{
  color: #e0eaf2;
  text-shadow: none !important;
}

#menu li a.active
{
  border-bottom: 2px solid #dabd9f;
}

#menu li a.active:hover
{
  border-bottom: 2px solid #e0eaf2;
}

#title
{
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: visible;
  padding: 4px 0px;
}

#socials
{
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  float: right;
  overflow: visible;
}

#socials li 
{
  display: block;
  margin: 0;
  padding: 8px 8px 0px;
  float: left;
}

#socials li a img
{ 
  opacity: 1.0;
  filter: alpha(opacity=100); /* For IE8 and earlier */
}

#socials li a:hover img, 
#socials li a:active img
{
  opacity: 0.6;
  filter: alpha(opacity=60); /* For IE8 and earlier */
}

/* About
-----------------------------------------------*/

#about
{
  padding-top: 100px;
}

#about h1
{
  font-weight: 400;
  font-size: 2.5em;
  margin: 0.5em auto;
  text-shadow: 0px 4px 8px #000;
}

#about label
{
  color: #dabd9f;
  display: inline-block;
  cursor: pointer;
  padding: 0;
  
  transform: scale(1.0);
  transition: transform .25s, visibility .25s ease-in;
}

#about label:hover,
#about label:active
{
  transform: scale(1.04);
}

/* Slideshow
-----------------------------------------------*/

#slideshow
{
  overflow: visible;
  text-align: center;
  display: table;
  width: 100%;
  min-height: 400px;
}

.mySlides 
{
  display: none;
}

#slideshow h2
{
  font-weight: 400;
  font-size: 2.5em;
  text-align: left;
}

#slideshow p
{
  font-size: 1.3em;
  padding: 0;
  text-align: left;
  text-justify: inter-word;
}

#slideshow img
{
  border-radius: 50%;
  width: 70%;
  height: auto;
  box-shadow:0 0 20px #4a4d54;
}

#slideshow .flexbox 
{
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: visible;
  justify-content: center;
  align-items: center;
  flex: 1;
}

#slideshow .flexbox .column:nth-child(1)
{
  width: 66.13%;
  padding-left: 16px;
}

#slideshow .flexbox .column:nth-child(2)
{
  width: 32.26%;
  padding: 0 16px;
}

@-webkit-keyframes fadeIn 
{
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn 
{
  from {opacity: 0;}
  to {opacity: 1;}
}

.fadeIn 
{
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: 3.0s;
  animation-duration: 3.0s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

/* Portfolio
-----------------------------------------------*/

#portfolio
{
  padding-top: 50px;
}

#grid 
{
  max-width: 100%;
  margin: 0 auto; 
  padding: 0;
  font-size: 0;
  list-style: none;
}

#grid li 
{
  display: inline-block;
  *display: inline;    /*for IE6 - IE7*/
  width: 25%;
  vertical-align: middle;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.grid-cell 
{
  margin: 12px;
  box-shadow: 0 0 6px #4a4d54;
  display: block;
  position: relative;
  overflow: hidden;
}

.grid-img 
{
  display: block;
  width: 100%;
  height: auto;
  border: none;
  transform: scale(1);
  transition: all 1s;
}

#grid li:hover .grid-img 
{
  transform: scale(1.05);
}

.grid-overlay 
{
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  background: #dabd9f;
  background-size:50px 50px;
  opacity: 0;
  filter: alpha(opacity=0);    /*For IE6 - IE8*/
  transition: all 0.6s;
}

#grid li:hover .grid-overlay 
{
  opacity: 0.6;
}

.grid-text 
{
  display: block;
  padding: 0 30px;
  box-sizing: border-box;
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
  text-transform: capitalize;
  font-size: 18px;
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  top: 40%;
  color: #e0eaf2;
  text-shadow: 0px 2px 4px #000;
  opacity: 0;
  filter: alpha(opacity=0);    /*For older IE*/
  transform: translateY(-20px);
  transition: all 0.3s;
}

#grid li:hover .grid-text 
{
  transform: translateY(0px);
  opacity: 0.9;
}

/* Resume
-----------------------------------------------*/

#resume
{
  padding-top: 50px;
}

.timeline-second-style .timeline-item 
{
  position: relative;
  display: table;
  table-layout: fixed;
  width: 100%;
  padding-bottom: 15px;
}

.timeline-second-style .timeline-item:last-child 
{
  padding-bottom: 0;
}


.timeline-second-style .left-part 
{
  width: 30%;
  display: table-cell;
  padding-right: 25px;
  min-height: 100%;
  text-align: right;
  vertical-align: top;
}

.timeline-second-style .right-part 
{
  width: 70%;
  display: table-cell;
  padding-left: 25px;
  padding-right: 15px;
  vertical-align: top;
  text-align: left;
}

.timeline-second-style .right-part p,
.timeline-second-style .right-part p > * 
{
  font-size: 0.92em;
}

.timeline-second-style .divider 
{
  position: absolute;
  top: 0;
  left: 30%;
  bottom: 0;
  width: 1px;
  background-color: #eee;
}

.timeline-second-style .divider:after 
{
  content: '';
  display: block;
  margin-top: 7px;
  width: 11px;
  height: 11px;
  margin-left: -5px;
  border-radius: 5px;
  border: 2px solid #ffcd38;
  background-color: #fff;
}

.timeline-second-style .item-title 
{
  font-size: 16px;
  margin-bottom: 3px;
}

.timeline-second-style .item-period 
{
  margin: 3px 0;
  font-size: 14px;
  line-height: 1.4em;
}

.timeline-second-style .item-company 
{
  display: block;
  color: #aaa;
  margin: 0 0 4px;
  font-size: 12px;
  line-height: 1.45em;
}

.timeline-second-style .timeline-item:last-child .right-part 
{
  padding-bottom: 0;
}

.timeline-second-style .item-logo 
{
  display: block;
  margin-bottom: 10px;
}

.timeline-second-style .item-logo img 
{
  max-height: 40px;
}

/* Contact
-----------------------------------------------*/

#contact
{
  padding-top: 50px;
}

/* Footer
-----------------------------------------------*/

footer 
{
	border-top: 1px solid #4a4d54;
	padding: .5em 0;
	position: relative;
	text-align: right;
  flex-shrink: 0;
}

footer::before 
{
	border-bottom: 1px solid #000;
	content: ".";
	height: 1%;
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden{display: none !important;}

.sr-only{border: 0;clip: rect(0, 0, 0, 0);height: 1px;margin: -1px;overflow: hidden;padding: 0;position: absolute;white-space: nowrap;width: 1px;}
.sr-only.focusable:active,.sr-only.focusable:focus{clip: auto;height: auto;margin: 0;overflow: visible;position: static;white-space: inherit;width: auto;}

.invisible{visibility: hidden;}

.clearfix:before,.clearfix:after{content: " ";display: table;}
.clearfix:after{clear: both;}

@media screen and (max-width: 992px) 
{  
  #menu li
  {
    font-size: 0.8125em;
    padding: 16px 8px 0px;
  }
  
  #socials li 
  {
    padding: 12px 4px 0px;
  }
  
  #socials li a img
  { 
    height: auto;
    width: 80%;
  }
} 

@media screen and (max-width: 768px) 
{
  #menu li
  {
    font-size: 0.75em;
    padding: 18px 4px 0px;
  }
  
  #socials li 
  {
    padding: 14px 4px 0px;
  }
  
  #socials li a img
  { 
    height: auto;
    width: 60%;
  }
} 

@media screen and (max-width: 600px) 
{
  body
  {
    font-size: 0.675em;
  }
  
  .col 
  { 
		margin: 0%;
	}
  
	.span_1_of_3 
  {
		width: 100%;
	}
  
  #menu
  {
    justify-content: center;
  }
  
  #menu li
  {
    font-size: 12px;
    padding: 16px 14px 0px;
  }
  
  #socials
  {
    float: none;
    justify-content: center;
  } 
  
  #socials li 
  {
    padding: 10px 8px;
  } 
  
  #about, 
  #portfolio, 
  #resume, 
  #contact
  {
    padding-top: 120px;
  }

  #slideshow .flexbox .column:nth-child(1),
  #slideshow .flexbox .column:nth-child(2)
  {
    width: 100%;
    padding: 0 16px;
  }
  
  .timeline-second-style .timeline-item 
    {
    position: relative;
    display: block;
  }

  .timeline-second-style .left-part 
  {
    width: 100%;
    display: block;
    padding-left: 25px;
    min-height: 100%;
    text-align: left;
  }

  .timeline-second-style .divider 
  {
    left: 12px;
  }

  .timeline-second-style .right-part 
  {
    width: 100%;
    display: block;
    padding-left: 25px;
    padding-right: 0;
  }
}

@media screen and (max-width: 768px) 
{
  #grid li 
  {
    width: 33.33%;
  }
  
  .grid-text 
  {
    top: 30%;
  }
}

@media screen and (max-width: 600px) 
{
  #grid li 
  {
    width: 100%;
  }
  .grid-text 
  {
    top: 45%;
  }
}

@media print,(-webkit-min-device-pixel-ratio: 1.25),(min-resolution: 1.25dppx),(min-resolution: 120dpi){}
@media print 
{
  *,*:before,*:after{background: transparent !important;color: #000 !important;-webkit-box-shadow: none !important;box-shadow: none !important;text-shadow: none !important;}
  a,a:visited{text-decoration: underline;}
  a[href]:after{content: " (" attr(href) ")";}
  abbr[title]:after{content: " (" attr(title) ")";}
  a[href^="#"]:after,a[href^="javascript:"]:after{content: "";}
  pre{white-space: pre-wrap !important;}
  pre,blockquote{border: 1px solid #999;page-break-inside: avoid;}
  thead{display: table-header-group;}
  tr,img{page-break-inside: avoid;}
  p,h2,h3{orphans: 3;widows: 3;}
  h2,h3{page-break-after: avoid;}
}
